<div class="container">
  <div class="module">
    <%= render partial: "shared/data_table", locals:  {
      page_header:  ["Quotes", ""],
      directions:  "",
      new_button:  ["New Roster", new_broker_agencies_quote_path(@broker.id), false],
  	  filters:  [
    		["all", "", true, []],
    		["Draft", "", true, []],
    		["Published", "", false, []]
    	],
    	bulk_actions:  [
    		# ["Send Secure Message", "", true],
    		# ["Delete", "", false]
    	],
    	row_functions:  true,
      row_actions:  [
        ["Edit Roster", '/broker_agencies/quotes/', false ],
        ["View Published Quote", "asd", true ],
        ["Delete", "asd", true ],
        ["Reuse Roster", "asd", true ]
      ],
    	buttons_below_table: [
    		# ['Export CSV', 'url', 'request_type'],
    		# ['Print', 'url', 'request_type']
    	],
      custom_handlers: [
      ],
      child_rows: [false, "datatables/child_row"],
      destroy: false,
      processing_text: "Loading Quotes...",
      responsive: true,
    	checkboxes: false,
    	pagination: true,
    	ordering: false,
    	info: true,
    	table_id: "quotes-dataTable",
    	data_url: quotes_index_datatable_broker_agencies_quotes_path(:format => :json),
    	columns: [
        ["Quote", "quote_name", "", [false, ""]],
        ["Claim Code", "claim_code", "dt-center", [false, ""]],
        ["Family Count", "family_count", "dt-center", [false, ""]],
        ["State", "quote_state", "dt-center", [false, ""]],
        # ["Benefit Group Count", "benefit_group_count", "dt-center", [false, ""]],
        # ["Roster", "quote_roster", "dt-center", [false, ""]],
    	  # ["Download", "quote_download", "dt-center", [false, ""]]
    	]
    } %>
  </div>
</div>
