<div class="module container broker_quote_tool">
  <div class="row">
    <div class="col-md-12">
      <h3>Your quote has been published</h3>
      <p>You can download a PDF version of your quote via the quote management</p>
      <%= link_to 'Back' , my_quotes_broker_agencies_quotes_path , class: "btn btn-primary" %>
		</div>
	</div>
</div>
