  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="publish-quote-header">

          <div data-toggle="collapse" data-parent="#accordion" href="#publish-quote" aria-expanded="true" aria-controls="publish-quote" style='display: inline; float_left' class='collapsed'>
            <a role="button">
              Quote: <b><span id='quote-name'> Create a quote </span></b>
              <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>

              <div style='margin-left: 50px; font-size: 120%; display:inline;'>Status:
                 <span id='quote-status'>
                    'None'
                 </span>
              </div>
              <div style='margin-left: 50px; display:inline-block;'>
                 	Reference Health:<br/>
                    <span id='quote-plan-name'> None</span>
                 </div>
                 <div style='margin-left: 50px;  display:inline-block;'>
                    Reference Dental: <br/>
                    <span id='quote-dental-plan-name'> None</span>
                 </div>
          </div>

    </div>
    <div id="publish-quote" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="">
       Please create a quote after comparing health plan costs
    </div>
  </div>
