<div class="custom-dates">
  <h4>
    Custom Date
  </h4>
  <input type="text" onChange="EnrollDataTableInitializer.handleCustomDates($(this).closest('.module').find('table').attr('id'));" id="custom-date-from" placeholder="&#xf073; &nbsp;From" class="date-picker date-field">
  <input type="text" onChange="EnrollDataTableInitializer.handleCustomDates($(this).closest('.module').find('table').attr('id'));" id="custom-date-to" placeholder="&#xf073; &nbsp;To" class="date-picker date-field">
  <span class="btn btn-primary no-vertical-margin disabled">Search</span>
  <br/>
  <br/>
</div>
