<div class="module" data-generate-invoice-url="<%= generate_invoice_exchanges_hbx_profiles_path %>">
  <%= render partial: "shared/data_table", locals:  {
    page_header:  ["Employers", ""],
    directions:  "",
    new_button:  [],
    sibling_pages: [],
    base_model: "organization",
    tab: "Employer",
	  filters:  [
      ["All", "javascript:;", true, [], []],
      ["Enrolling", "", true, [
        ["All", "javascript:;", false],
        ["Initial Eligible", "javascript:;", false],
        ["Renewing", "javascript:;", false],
        ["Open Enrollment", "javascript:;", false],
        ["Binder Pending", "javascript:;", false],
        ["Binder Paid", "javascript:;", false],
      ],
      [
        ["#{(TimeKeeper.date_of_record.next_month.beginning_of_month).strftime("%B")} #{TimeKeeper.date_of_record.next_month.beginning_of_month.year}", "javascript:;", false],
        ["#{(TimeKeeper.date_of_record.next_month.beginning_of_month.next_month).strftime("%B")} #{TimeKeeper.date_of_record.next_month.beginning_of_month.next_month.year}", "javascript:;", false],
        ["#{(TimeKeeper.date_of_record.next_month.beginning_of_month.next_month.next_month).strftime("%B")} #{TimeKeeper.date_of_record.next_month.beginning_of_month.next_month.next_month.year}", "javascript:;", false],
        ["Custom Date", custom_dates_exchanges_hbx_profiles_path, true]
      ]
    ],
      ["Enrolled", "", true, [
        ["All", "javascript:;", false],
        ["Suspended", "javascript:;", false]
      ],
      []
    ],
    ["Applicants", "", true, [
        ["All", "javascript:;", false],
        ["Initial Ineligible", "javascript:;", false],
      ],
      []
  	]
    ],
  	bulk_actions:  [
  		["Generate Invoice", "javascript:;", false]
  	],
  	row_functions:  true,
    row_actions:  [
      ["Send Secure Message", "replace_url_send_secure_message", true ]
    ],
  	buttons_below_table: [
  		# ['Export CSV', 'url', 'request_type'],
  		# ['Print', 'url', 'request_type']
  	],
    custom_handlers: [
      "EmployerInvoicesDatatable.callEnrollingAllFilter",
      "EmployerInvoicesDatatable.callEnrollingInitialEligibleFilter",
      "EmployerInvoicesDatatable.callEnrollingRenewingFilter",
      "EmployerInvoicesDatatable.callEnrollingOpenEnrollmentFilter",
      "EmployerInvoicesDatatable.callEnrollingBinderPendingFilter",
      "EmployerInvoicesDatatable.callEnrollingBinderPaidFilter",
      "EmployerInvoicesDatatable.callEnrollingFirstMonthFilter",
      "EmployerInvoicesDatatable.callEnrollingSecondMonthFilter",
      "EmployerInvoicesDatatable.callEnrollingThirdMonthFilter",
      "EmployerInvoicesDatatable.callEnrolledAllFilter",
      "EmployerInvoicesDatatable.callEnrolledSuspendedFilter",
      "EmployerInvoicesDatatable.callApplicantsAllFilter",
      "EmployerInvoicesDatatable.callApplicantsInitialIneligibleFilter",
      "EmployerInvoicesDatatable.generateInvoicesForSelection",
      "EmployerInvoicesDatatable.addScopesBeforeSorting",
      "EmployerInvoicesDatatable.callAllFilter"
    ],
    child_rows: [false, "datatables/child_row"],
    destroy: true,
    processing_text: "Loading Invoices...",
    responsive: true,
  	checkboxes: true,
  	pagination: true,
  	ordering: true,
  	info: true,
  	table_id: "employer-invoices-dataTable",
  	data_url: employer_invoice_datatable_exchanges_hbx_profiles_path(:format => :json),
  	columns: [
      ["Hbx Id", "hbx_id", "", [false, ""]],
      ["FEIN", "fein", "", [false, ""]],
      ["Legal name", "legal_name", "", [false, ""]],
      ["Broker", "broker", "", [false, ""]],
      ["CNVRSN?", "conversion", "dt-center", [false, ""]],
      ["Status", "status", "dt-center", [false, ""]],
      ["EFF Date", "effective_date", "", [false, ""]],
  	  ["Invoiced?", "invoiced", "dt-center", [true, ""]],
  	  ["Enrolled/Waived", "enrolled_waived", "dt-center", [false, ""]],
  	  ["Pending", "pending", "dt-center", [false, ""]],
      ["Eligible", "eligible", "dt-center", [false, ""]],
      ["PCT", "percentage", "dt-right", [false, ""]]
  	]
  } %>
</div>
