

<div id="report" style: "height:400px"> </div>



<script type="text/javascript">
  $(document).ready(function () {
    $('#report').highcharts({
      chart: {
        type: 'bar'
      },
      title: {
        text: ""
      },
      subtitle: {
        text: ''
      },
      xAxis: [{
        categories: <%= raw @reports[0].to_json %>,
        labels: {
          step: 1
        }
      }],
      yAxis: {
        title: {
          text: null
        },
        labels: {
           overflow: 'justify'
        }
      },
      tooltip: {
        formatter: function () {
          return '<b>' + this.series.name + '</b><br/>' +
            "<%= '$' if @unit == '$' %>" + this.point.y + "<%= '%' if @unit == '%' %>";
        }
      },
      series: <%=raw @reports[1].to_json %>
    });
  });
</script>
