<div class="module">
  <%= render partial:"shared/data_table", locals: {
    page_header:  ["Families", ""],
    directions:  "Short description with Expansion",
    new_button:  ["Add Family", "url", ""],
    filters:  [
       ["All", "", true, [
        ["Individual", "", ""],
        ["Employee", "", ""]
        ]],
       ["Active Enroll", "", true, []],
       ["Other", "", false, []]
     ],
    bulk_actions:  [
      ["Export to CSV", "", ""]
    ],
    row_functions:  true,
    row_actions:  [
      ["trash fa-lg", "url", "request_type", "Cancel/Terminate", "Cancel/Terminate", [
        ["Cancel", "url", true],
        ["Terminate", "url", true]
      ]]],
    buttons_below_table:  [
      # ['Export CSV', 'url', 'request_type'],
      # ['Print', 'url', 'request_type']
    ],
    child_rows:  [false, "datatables/child_row"],
    responsive:  true,
    checkboxes:  true,
    pagination:  true,
    ordering:  false,
    info:  true,
    table_id: "family-dataTable",
    data_url:families_index_datatable_exchanges_hbx_profiles_path(:format => :json),
    columns:  [
      ["Name", "name"],
      ["SSN", "ssn"],
      ["DOB", "dob"],
      ["HBX ID", "hbx_id"],
      ["Family Count", "family_ct"],
      ["Registered?", "registered"],
      ["Consumer?", "consumer"],
      ["Employee?", "employee"]
    ]
  } %>
</div>