<div class="module">
  <%= render partial:"shared/data_table", locals: {
    page_header:  ["Families", ""],
    directions:  "Short description with Expansion",
    new_button:  ["Add Family", "url", ""],
    sibling_pages: [],
    processing_text: "",
    custom_handlers: [],
    filters:  [
       ["All", "", true, [
        ["Individual", "", ""],
        ["Employee", "", ""]
        ]],
       ["Active Enroll", "", true, [
         ["Individual", "", ""],
         ["Employee", "", ""]
         ]],
       ["Other", "", false, []]
     ],
    bulk_actions:  [
      ["Export to CSV", "", ""]
    ],
    row_functions:  true,
    row_actions:  [
      ["Cancel", cancel_enrollment_exchanges_hbx_profiles_path, true ]
      # ["trash ", "url", "request_type", "Cancel/Terminate", "Cancel/Terminate", [
      #   ["Cancel", cancel_enrollment_exchanges_hbx_profiles_path, true],
      #   ["Terminate", "url", true]
      # ]]
    ],
    buttons_below_table:  [
      # ['Export CSV', 'url', 'request_type'],
      # ['Print', 'url', 'request_type']
    ],
    row_data: true,
    child_rows:  [true, "datatables/child_row"],
    destroy: false,
    responsive:  true,
    checkboxes:  true,
    pagination:  true,
    ordering:  false,
    info:  true,
    table_id: "family-dataTable",
    data_url: families_index_datatable_exchanges_hbx_profiles_path(:format => :json),
    columns:  [
      ["Name", "name", "", [false, ""]],
      ["SSN", "ssn", "", [false, ""]],
      ["DOB", "dob", "", [false, ""]],
      ["HBX ID", "hbx_id", "", [false, ""]],
      ["Family Count", "family_ct", "", [false, ""]],
  	  ["Registered?", "registered", "", [false, ""]],
  	  ["Consumer?", "consumer", "", [false, ""]],
  	  ["Employee?", "employee", "", [false, ""]]
  	]
  } %>
</div>
